# Assignment 2

## Group by and Aggregating

###

In [10]:
import pandas as pd
flavors_df = pd.read_csv('https://raw.githubusercontent.com/reban87/ML-From-Scratch/refs/heads/main/01%20Introduction_to_ML/data_cleaning/Flavors.csv');

In [11]:
print(flavors_df)

                   Flavor Base Flavor Liked  Flavor Rating  Texture Rating  \
0     Mint Chocolate Chip     Vanilla   Yes           10.0             8.0
1               Chocolate   Chocolate   Yes            8.8             7.6
2                 Vanilla     Vanilla    No            4.7             5.0
3            Cookie Dough     Vanilla   Yes            6.9             6.5
4              Rocky Road   Chocolate   Yes            8.2             7.0
5               Pistachio     Vanilla    No            2.3             3.4
6             Cake Batter     Vanilla   Yes            6.5             6.0
7              Neapolitan     Vanilla    No            3.8             5.0
8  Chocolte Fudge Brownie   Chocolate   Yes            8.2             7.1

   Total Rating
0          18.0
1          16.6
2           9.7
3          13.4
4          15.2
5           5.7
6          12.5
7           8.8
8          15.3

### Grouping similar data

In [12]:
group_col_base_flavor = flavors_df.groupby('Base Flavor')
print(group_col_base_flavor)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001645C1C49E0>

Getting data from a group

In [13]:
group_vanilla = group_col_base_flavor.get_group('Vanilla')
print(group_vanilla)

                Flavor Base Flavor Liked  Flavor Rating  Texture Rating  \
0  Mint Chocolate Chip     Vanilla   Yes           10.0             8.0
2              Vanilla     Vanilla    No            4.7             5.0
3         Cookie Dough     Vanilla   Yes            6.9             6.5
5            Pistachio     Vanilla    No            2.3             3.4
6          Cake Batter     Vanilla   Yes            6.5             6.0
7           Neapolitan     Vanilla    No            3.8             5.0

   Total Rating
0          18.0
2           9.7
3          13.4
5           5.7
6          12.5
7           8.8

Grouping by column name

In [ ]:
mean_base_flavor = flavors_df.groupby('Base Flavor').mean(numeric_only=True);
n = len(mean_base_flavor)
print(n)
index = []
for i in range(n):
    index.append(i+1)
# print(index)
# mean_base_flavor.set_index([1,:])
mean_base_flavor['arkoIndex'] = index
mean_base_flavor.set_index('arkoIndex', inplace=True)
# mean_base_flavor.set_index('arkoIndex')
print(mean_base_flavor)

2
           Flavor Rating  Texture Rating  Total Rating
arkoIndex
1                    8.4        7.233333         15.70
2                    5.7        5.650000         11.35

finding sum

In [15]:
sum = mean_base_flavor.sum()
print(sum)

Flavor Rating     14.100000
Texture Rating    12.883333
Total Rating      27.050000
dtype: float64

In [16]:
# aggregate using flavor rating and texture rating

In [ ]:
describe_base_flavor = flavors_df.groupby('Base Flavor').describe()
print(describe_base_flavor)

KeyError: "None of ['0,:'] are in the columns"

## Merge, Join and Concatenate

In [ ]:
import pandas as pd
lotr_df = pd.read_csv('https://raw.githubusercontent.com/reban87/ML-From-Scratch/refs/heads/main/01%20Introduction_to_ML/data_cleaning/LOTR.csv')
lotr2_df = pd.read_csv('https://raw.githubusercontent.com/reban87/ML-From-Scratch/refs/heads/main/01%20Introduction_to_ML/data_cleaning/LOTR%202.csv')
print(lotr_df)
print(lotr2_df)

   FellowshipID FirstName     Skills
0          1001     Frodo     Hiding
1          1002   Samwise  Gardening
2          1003   Gandalf     Spells
3          1004    Pippin  Fireworks
   FellowshipID FirstName   Age
0          1001     Frodo    50
1          1002   Samwise    39
2          1006   Legolas  2931
3          1007    Elrond  6520
4          1008  Barromir    51

In [ ]:
# pd.concat([lotr_df, lotr2_df], ignore_index=False)
pd.concat([lotr_df, lotr2_df], ignore_index=True)

   FellowshipID FirstName     Skills     Age
0          1001     Frodo     Hiding     NaN
1          1002   Samwise  Gardening     NaN
2          1003   Gandalf     Spells     NaN
3          1004    Pippin  Fireworks     NaN
4          1001     Frodo        NaN    50.0
5          1002   Samwise        NaN    39.0
6          1006   Legolas        NaN  2931.0
7          1007    Elrond        NaN  6520.0
8          1008  Barromir        NaN    51.0

In [ ]:
# reducing redundant data
# Inner join
# lotr_df.merge(lotr2_df, how= 'inner', on = ['FellowshipID', 'FirstName'])

lotr_df.merge(lotr2_df, how = 'outer')

   FellowshipID FirstName     Skills     Age
0          1001     Frodo     Hiding    50.0
1          1002   Samwise  Gardening    39.0
2          1003   Gandalf     Spells     NaN
3          1004    Pippin  Fireworks     NaN
4          1006   Legolas        NaN  2931.0
5          1007    Elrond        NaN  6520.0
6          1008  Barromir        NaN    51.0

In [ ]:
lotr_df.merge(lotr2_df, how = 'left')

   FellowshipID FirstName     Skills   Age
0          1001     Frodo     Hiding  50.0
1          1002   Samwise  Gardening  39.0
2          1003   Gandalf     Spells   NaN
3          1004    Pippin  Fireworks   NaN

In [ ]:
lotr_df.merge(lotr2_df, how = 'right')

   FellowshipID FirstName     Skills   Age
0          1001     Frodo     Hiding    50
1          1002   Samwise  Gardening    39
2          1006   Legolas        NaN  2931
3          1007    Elrond        NaN  6520
4          1008  Barromir        NaN    51

In [ ]:
print(lotr_df)

   FellowshipID FirstName     Skills
0          1001     Frodo     Hiding
1          1002   Samwise  Gardening
2          1003   Gandalf     Spells
3          1004    Pippin  Fireworks

importing world pop.csv

In [ ]:
world_pop_df = pd.read_csv('https://raw.githubusercontent.com/reban87/ML-From-Scratch/refs/heads/main/01%20Introduction_to_ML/data_cleaning/countries%20of%20the%20world.csv')
print(world_pop_df)

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [ ]:
world_pop_df.describe()

             Country                               Region
count            227                                  227
unique           227                                   11
top     Afghanistan   SUB-SAHARAN AFRICA
freq               1                                   51

In [ ]:
world_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  227 non-null    object
 1   Region   227 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [ ]:
print("Null values :", world_pop_df.isnull().any)

Null values : <bound method DataFrame.any of      Country  Region
0      False   False
1      False   False
2      False   False
3      False   False
4      False   False
..       ...     ...
222    False   False
223    False   False
224    False   False
225    False   False
226    False   False

[227 rows x 2 columns]>

In [ ]:
print("Sum of number of null values: ", world_pop_df.isnull().sum())

Sum of number of null values:  Country    0
Region     0
dtype: int64

In [ ]:
print("Unique values: ", world_pop_df.nunique())

Unique values:  Country    227
Region      11
dtype: int64

In [ ]:
top_10_pop = world_pop_df.nlargest(10, '')
print("Top 10 countries by world population percentage: \n", top_10_pop)

KeyError: 'World population percentage: '