#1.Reading in Files

##Read .csv files using pandas (countries of the world.csv)

In [3]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/reban87/ML-From-Scratch/refs/heads/main/01%20Introduction_to_ML/data_cleaning/countries%20of%20the%20world.csv')
print(df)

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

##Read .txt files using read_csv and read_table(countries of the world)

In [4]:
table_df = pd.read_table('https://raw.githubusercontent.com/reban87/ML-From-Scratch/refs/heads/main/01%20Introduction_to_ML/data_cleaning/countries%20of%20the%20world.txt')
print(table_df)

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

##Read json files json_sample.json

In [5]:
json_df = pd.read_json('https://raw.githubusercontent.com/reban87/ML-From-Scratch/refs/heads/main/01%20Introduction_to_ML/data_cleaning/json_sample.json')
print(json_df)

                                           12 Strong  \
0  {'Genre': 'Action', 'Gross': '$453,173', 'IMDB...

            A Fantastic Woman (Una Mujer Fantástica)  \
0  {'popcornscore': 83, 'rating': 'R', 'tomatosco...

                          All The Money In The World  \
0  {'popcornscore': 71, 'rating': 'R', 'tomatosco...

                          Bilal: A New Breed Of Hero  \
0  {'popcornscore': 91, 'rating': 'PG13', 'tomato...

                                Call Me By Your Name  \
0  {'popcornscore': 87, 'rating': 'R', 'tomatosco...

                                        Darkest Hour  \
0  {'popcornscore': 84, 'rating': 'PG13', 'tomato...

                                      Den Of Thieves  \
0  {'Genre': 'Action', 'Gross': '$491,898', 'IMDB...

                                           Ferdinand  \
0  {'popcornscore': 49, 'rating': 'PG', 'tomatosc...

                                  Fifty Shades Freed  \
0  {'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...

                   Film Stars Don'T Die In Liverpool  ...  \
0  {'popcornscore': 69, 'rating': 'R', 'tomatosco...  ...

                                  The 15:17 To Paris  \
0  {'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...

                                        The Commuter  \
0  {'popcornscore': 48, 'rating': 'PG13', 'tomato...

                                 The Disaster Artist  \
0  {'popcornscore': 89, 'rating': 'R', 'tomatosco...

                                The Greatest Showman  \
0  {'Genre': 'Biography', 'Gross': '$627,248', 'I...

                              The Insult (L'Insulte)  \
0  {'popcornscore': 86, 'rating': 'R', 'tomatosco...

                                            The Post  \
0  {'Genre': 'Biography', 'Gross': '$463,228', 'I...

                                  The Shape Of Water  \
0  {'Genre': 'Adventure', 'Gross': '$448,287', 'I...

           Three Billboards Outside Ebbing, Missouri  \
0  {'popcornscore': 87, 'rating': 'R', 'tomatosco...

                           Till The End Of The World  \
0  {'popcornscore': -1, 'rating': 'NR', 'tomatosc...

                                          Winchester
0  {'Genre': 'Biography', 'Gross': '$696,786', 'I...

[1 rows x 38 columns]

##Read excel file

In [6]:
excel_df = pd.read_excel('./world_population_excel_workbook.xlsx')
print(excel_df)

     Rank CCA3            Country           Capital Continent  \
0      36  AFG        Afghanistan             Kabul      Asia
1     138  ALB            Albania            Tirana    Europe
2      34  DZA            Algeria           Algiers    Africa
3     213  ASM     American Samoa         Pago Pago   Oceania
4     203  AND            Andorra  Andorra la Vella    Europe
..    ...  ...                ...               ...       ...
229   226  WLF  Wallis and Futuna          Mata-Utu   Oceania
230   172  ESH     Western Sahara         El AaiÃºn    Africa
231    46  YEM              Yemen             Sanaa      Asia
232    63  ZMB             Zambia            Lusaka    Africa
233    74  ZWE           Zimbabwe            Harare    Africa

     2022 Population  2020 Population  2015 Population  2010 Population  \
0           41128771         38972230         33753499         28189672
1            2842321          2866849          2882481          2913399
2           44903225         43451666         39543154         35856344
3              44273            46189            51368            54849
4              79824            77700            71746            71519
..               ...              ...              ...              ...
229            11572            11655            12182            13142
230           575986           556048           491824           413296
231         33696614         32284046         28516545         24743946
232         20017675         18927715         16248230         13792086
233         16320537         15669666         14154937         12839771

     2000 Population  1990 Population  1980 Population  1970 Population  \
0           19542982         10694796         12486631         10752971
1            3182021          3295066          2941651          2324731
2           30774621         25518074         18739378         13795915
3              58230            47818            32886            27075
4              66097            53569            35611            19860
..               ...              ...              ...              ...
229            14723            13454            11315             9377
230           270375           178529           116775            76371
231         18628700         13375121          9204938          6843607
232          9891136          7686401          5720438          4281671
233         11834676         10113893          7049926          5202918

     Area (kmÂ²)  Density (per kmÂ²)  Growth Rate  World Population Percentage
0         652230             63.0587       1.0257                         0.52
1          28748             98.8702       0.9957                         0.04
2        2381741             18.8531       1.0164                         0.56
3            199            222.4774       0.9831                         0.00
4            468            170.5641       1.0100                         0.00
..           ...                 ...          ...                          ...
229          142             81.4930       0.9953                         0.00
230       266000              2.1654       1.0184                         0.01
231       527968             63.8232       1.0217                         0.42
232       752612             26.5976       1.0280                         0.25
233       390757             41.7665       1.0204                         0.20

[234 rows x 17 columns]

#Filtering and Ordering in Pandas


##Read csv file world_population.csv

In [7]:
world_df = pd.read_csv('https://raw.githubusercontent.com/reban87/ML-From-Scratch/refs/heads/main/01%20Introduction_to_ML/data_cleaning/world_population.csv')
print(world_df)

     Rank CCA3            Country           Capital Continent  \
0      36  AFG        Afghanistan             Kabul      Asia
1     138  ALB            Albania            Tirana    Europe
2      34  DZA            Algeria           Algiers    Africa
3     213  ASM     American Samoa         Pago Pago   Oceania
4     203  AND            Andorra  Andorra la Vella    Europe
..    ...  ...                ...               ...       ...
229   226  WLF  Wallis and Futuna          Mata-Utu   Oceania
230   172  ESH     Western Sahara          El Aaiún    Africa
231    46  YEM              Yemen             Sanaa      Asia
232    63  ZMB             Zambia            Lusaka    Africa
233    74  ZWE           Zimbabwe            Harare    Africa

     2022 Population  2020 Population  2015 Population  2010 Population  \
0         41128771.0       38972230.0       33753499.0       28189672.0
1          2842321.0        2866849.0        2882481.0        2913399.0
2         44903225.0       43451666.0       39543154.0       35856344.0
3            44273.0          46189.0          51368.0          54849.0
4            79824.0          77700.0          71746.0          71519.0
..               ...              ...              ...              ...
229          11572.0          11655.0          12182.0          13142.0
230         575986.0         556048.0         491824.0         413296.0
231       33696614.0       32284046.0       28516545.0       24743946.0
232       20017675.0       18927715.0              NaN       13792086.0
233       16320537.0       15669666.0       14154937.0       12839771.0

     2000 Population  1990 Population  1980 Population  1970 Population  \
0         19542982.0       10694796.0       12486631.0       10752971.0
1          3182021.0        3295066.0        2941651.0        2324731.0
2         30774621.0       25518074.0       18739378.0       13795915.0
3            58230.0          47818.0          32886.0          27075.0
4            66097.0          53569.0          35611.0          19860.0
..               ...              ...              ...              ...
229          14723.0          13454.0          11315.0           9377.0
230         270375.0         178529.0         116775.0          76371.0
231       18628700.0       13375121.0        9204938.0        6843607.0
232        9891136.0        7686401.0        5720438.0        4281671.0
233       11834676.0       10113893.0        7049926.0        5202918.0

     Area (km²)  Density (per km²)  Growth Rate  World Population Percentage
0      652230.0            63.0587       1.0257                         0.52
1       28748.0            98.8702       0.9957                         0.04
2     2381741.0            18.8531       1.0164                         0.56
3         199.0           222.4774       0.9831                         0.00
4         468.0           170.5641       1.0100                         0.00
..          ...                ...          ...                          ...
229       142.0            81.4930       0.9953                         0.00
230    266000.0             2.1654       1.0184                         0.01
231    527968.0            63.8232       1.0217                         0.42
232    752612.0            26.5976       1.0280                         0.25
233    390757.0            41.7665       1.0204                         0.20

[234 rows x 17 columns]

##Display the list of countries having a rank<= 10

In [14]:
df_rank = world_df[world_df['Rank'] <= 10]
print(df_rank)

     Rank CCA3        Country           Capital      Continent  \
16      8  BGD     Bangladesh             Dhaka           Asia
27      7  BRA         Brazil          Brasilia  South America
41      1  CHN          China           Beijing           Asia
92      2  IND          India         New Delhi           Asia
93      4  IDN      Indonesia           Jakarta           Asia
131    10  MEX         Mexico       Mexico City  North America
149     6  NGA        Nigeria             Abuja         Africa
156     5  PAK       Pakistan         Islamabad           Asia
171     9  RUS         Russia            Moscow         Europe
221     3  USA  United States  Washington, D.C.  North America

     2022 Population  2020 Population  2015 Population  2010 Population  \
16      1.711864e+08     1.674210e+08     1.578300e+08     1.483911e+08
27      2.153135e+08     2.131963e+08     2.051882e+08     1.963535e+08
41      1.425887e+09     1.424930e+09     1.393715e+09     1.348191e+09
92      1.417173e+09     1.396387e+09     1.322867e+09     1.240614e+09
93      2.755013e+08     2.718580e+08     2.590920e+08     2.440162e+08
131     1.275041e+08     1.259983e+08     1.201499e+08     1.125324e+08
149     2.185412e+08     2.083274e+08     1.839958e+08     1.609529e+08
156     2.358249e+08     2.271967e+08     2.109693e+08     1.944545e+08
171     1.447133e+08     1.456173e+08     1.446684e+08     1.432426e+08
221     3.382899e+08     3.359420e+08     3.246078e+08     3.111828e+08

     2000 Population  1990 Population  1980 Population  1970 Population  \
16      1.291933e+08     1.071477e+08       83929765.0       67541860.0
27      1.758737e+08     1.507064e+08      122288383.0       96369875.0
41      1.264099e+09     1.153704e+09      982372466.0      822534450.0
92      1.059634e+09              NaN              NaN      557501301.0
93      2.140724e+08     1.821599e+08      148177096.0      115228394.0
131     9.787344e+07     8.172043e+07       67705186.0       50289306.0
149     1.228520e+08     9.521426e+07       72951439.0       55569264.0
156     1.543699e+08     1.154141e+08       80624057.0       59290872.0
171     1.468448e+08     1.480057e+08      138257420.0      130093010.0
221     2.823986e+08     2.480837e+08      223140018.0      200328340.0

     Area (km²)  Density (per km²)  Growth Rate  World Population Percentage
16     147570.0          1160.0350       1.0108                         2.15
27    8515767.0            25.2841       1.0046                         2.70
41    9706961.0           146.8933       1.0000                        17.88
92    3287590.0           431.0675       1.0068                        17.77
93    1904569.0           144.6529       1.0064                         3.45
131   1964375.0            64.9082       1.0063                         1.60
149    923768.0           236.5759       1.0241                         2.74
156    881912.0           267.4018       1.0191                         2.96
171  17098242.0             8.4636       0.9973                         1.81
221   9372610.0            36.0935       1.0038                         4.24

##Create a list of specific country ['Bangladesh', 'Brazil'] and return df which falls under the specific list only

In [28]:
# required_countries = ['Bangladesh', 'Brazil']
# df_specific = world_df[world_df['Country'].isin(required_countries)]
df_specific = world_df[world_df['Country'].isin(['Bangladesh', 'Brazil'])]
print(df_specific['Country'])

16    Bangladesh
27        Brazil
Name: Country, dtype: object

##Apply filter to the Country which has United in its name

In [ ]:
united_df = world_df[world_df['Country'].str.contains("United")]
print(united_df)

     Rank CCA3                       Country           Capital      Continent  \
219    97  ARE          United Arab Emirates         Abu Dhabi           Asia
220    21  GBR                United Kingdom            London         Europe
221     3  USA                 United States  Washington, D.C.  North America
222   200  VIR  United States Virgin Islands  Charlotte Amalie  North America

     2022 Population  2020 Population  2015 Population  2010 Population  \
219        9441129.0        9287289.0        8916899.0        8481771.0
220       67508936.0       67059474.0       65224364.0       62760039.0
221      338289857.0      335942003.0      324607776.0      311182845.0
222          99465.0         100442.0         102803.0         106142.0

     2000 Population  1990 Population  1980 Population  1970 Population  \
219        3275333.0        1900151.0        1014048.0         298084.0
220       58850043.0       57210442.0       56326328.0       55650166.0
221      282398554.0      248083732.0      223140018.0      200328340.0
222         108185.0         100685.0          96640.0          63446.0

     Area (km²)  Density (per km²)  Growth Rate  World Population Percentage
219     83600.0           112.9322       1.0081                         0.12
220    242900.0           277.9289       1.0034                         0.85
221   9372610.0            36.0935       1.0038                         4.24
222       347.0           286.6427       0.9937                         0.00

##Create a dataframe df2 and give Country as its index

In [ ]:
df2 = world_df.set_index('Country')
print(df2)

                   Rank CCA3           Capital Continent  2022 Population  \
Country
Afghanistan          36  AFG             Kabul      Asia       41128771.0
Albania             138  ALB            Tirana    Europe        2842321.0
Algeria              34  DZA           Algiers    Africa       44903225.0
American Samoa      213  ASM         Pago Pago   Oceania          44273.0
Andorra             203  AND  Andorra la Vella    Europe          79824.0
...                 ...  ...               ...       ...              ...
Wallis and Futuna   226  WLF          Mata-Utu   Oceania          11572.0
Western Sahara      172  ESH          El Aaiún    Africa         575986.0
Yemen                46  YEM             Sanaa      Asia       33696614.0
Zambia               63  ZMB            Lusaka    Africa       20017675.0
Zimbabwe             74  ZWE            Harare    Africa       16320537.0

                   2020 Population  2015 Population  2010 Population  \
Country
Afghanistan             38972230.0       33753499.0       28189672.0
Albania                  2866849.0        2882481.0        2913399.0
Algeria                 43451666.0       39543154.0       35856344.0
American Samoa             46189.0          51368.0          54849.0
Andorra                    77700.0          71746.0          71519.0
...                            ...              ...              ...
Wallis and Futuna          11655.0          12182.0          13142.0
Western Sahara            556048.0         491824.0         413296.0
Yemen                   32284046.0       28516545.0       24743946.0
Zambia                  18927715.0              NaN       13792086.0
Zimbabwe                15669666.0       14154937.0       12839771.0

                   2000 Population  1990 Population  1980 Population  \
Country
Afghanistan             19542982.0       10694796.0       12486631.0
Albania                  3182021.0        3295066.0        2941651.0
Algeria                 30774621.0       25518074.0       18739378.0
American Samoa             58230.0          47818.0          32886.0
Andorra                    66097.0          53569.0          35611.0
...                            ...              ...              ...
Wallis and Futuna          14723.0          13454.0          11315.0
Western Sahara            270375.0         178529.0         116775.0
Yemen                   18628700.0       13375121.0        9204938.0
Zambia                   9891136.0        7686401.0        5720438.0
Zimbabwe                11834676.0       10113893.0        7049926.0

                   1970 Population  Area (km²)  Density (per km²)  \
Country
Afghanistan             10752971.0    652230.0            63.0587
Albania                  2324731.0     28748.0            98.8702
Algeria                 13795915.0   2381741.0            18.8531
American Samoa             27075.0       199.0           222.4774
Andorra                    19860.0       468.0           170.5641
...                            ...         ...                ...
Wallis and Futuna           9377.0       142.0            81.4930
Western Sahara             76371.0    266000.0             2.1654
Yemen                    6843607.0    527968.0            63.8232
Zambia                   4281671.0    752612.0            26.5976
Zimbabwe                 5202918.0    390757.0            41.7665

                   Growth Rate  World Population Percentage
Country
Afghanistan             1.0257                         0.52
Albania                 0.9957                         0.04
Algeria                 1.0164                         0.56
American Samoa          0.9831                         0.00
Andorra                 1.0100                         0.00
...                        ...                          ...
Wallis and Futuna       0.9953                         0.00
Western Sahara          1.0184                         0.01
Yemen                   1.0217                         0.42
Zambia                  1.0280                         0.25
Zimbabwe                1.0204                         0.20

[234 rows x 16 columns]

##Apply filter Continent and CCA3 in df2 (need only two columns)

In [ ]:
filtered_df = df2[['Continent','CCA3']]
print(filtered_df)

                  Continent CCA3
Country
Afghanistan            Asia  AFG
Albania              Europe  ALB
Algeria              Africa  DZA
American Samoa      Oceania  ASM
Andorra              Europe  AND
...                     ...  ...
Wallis and Futuna   Oceania  WLF
Western Sahara       Africa  ESH
Yemen                  Asia  YEM
Zambia               Africa  ZMB
Zimbabwe             Africa  ZWE

[234 rows x 2 columns]

##Apply filter to see details of Zimbabwe entire row

In [ ]:
zim_df = world_df[world_df['Country'] == 'Zimbabwe']
print(zim_df)

     Rank CCA3   Country Capital Continent  2022 Population  2020 Population  \
233    74  ZWE  Zimbabwe  Harare    Africa       16320537.0       15669666.0

     2015 Population  2010 Population  2000 Population  1990 Population  \
233       14154937.0       12839771.0       11834676.0       10113893.0

     1980 Population  1970 Population  Area (km²)  Density (per km²)  \
233        7049926.0        5202918.0    390757.0            41.7665

     Growth Rate  World Population Percentage
233       1.0204                          0.2

## Ascending and Descending

In [ ]:
df_filtered = world_df[world_df['Rank'] < 10]

df_sorted = df_filtered.sort_values(by=['Continent', 'Country'], ascending=[False, True])

##BONUS QUESTION

In [ ]:
df_sorted_index = world_df.sort_values(by =['Continent','Country'], ascending=[True, True])
df_sorted_index = df_sorted_index.set_index('Continent')
print(df_sorted_index)

               Rank CCA3       Country      Capital  2022 Population  \
Continent
Africa           34  DZA       Algeria      Algiers       44903225.0
Africa           42  AGO        Angola       Luanda       35588987.0
Africa           77  BEN         Benin   Porto-Novo       13352864.0
Africa          144  BWA      Botswana     Gaborone        2630296.0
Africa           58  BFA  Burkina Faso  Ouagadougou       22673762.0
...             ...  ...           ...          ...              ...
South America   109  PRY      Paraguay     Asunción        6780744.0
South America    44  PER          Peru         Lima       34049588.0
South America   170  SUR      Suriname   Paramaribo         618040.0
South America   133  URY       Uruguay   Montevideo        3422794.0
South America    51  VEN     Venezuela      Caracas       28301696.0

               2020 Population  2015 Population  2010 Population  \
Continent
Africa              43451666.0       39543154.0       35856344.0
Africa              33428485.0       28127721.0       23364185.0
Africa              12643123.0       10932783.0        9445710.0
Africa               2546402.0        2305171.0        2091664.0
Africa              21522626.0       18718019.0       16116845.0
...                        ...              ...              ...
South America        6618695.0        6177950.0        5768613.0
South America       33304756.0       30711863.0       29229572.0
South America         607065.0         575475.0         546080.0
South America        3429086.0        3402818.0        3352651.0
South America       28490453.0       30529716.0       28715022.0

               2000 Population  1990 Population  1980 Population  \
Continent
Africa              30774621.0       25518074.0       18739378.0
Africa              16394062.0       11828638.0        8330047.0
Africa               6998023.0        5133419.0        3833939.0
Africa               1726985.0        1341474.0         938578.0
Africa              11882888.0        9131361.0        6932967.0
...                        ...              ...              ...
South America        5123819.0        4059195.0        3078912.0
South America       26654439.0       22109099.0       17492406.0
South America         478998.0         412756.0         375112.0
South America        3292224.0        3117012.0        2953750.0
South America              NaN       19750579.0       15210443.0

               1970 Population  Area (km²)  Density (per km²)  Growth Rate  \
Continent
Africa              13795915.0   2381741.0            18.8531       1.0164
Africa               6029700.0   1246700.0            28.5466       1.0315
Africa               3023443.0    112622.0           118.5635       1.0274
Africa                592244.0    582000.0             4.5194       1.0162
Africa               5611666.0    272967.0            83.0641       1.0259
...                        ...         ...                ...          ...
South America        2408787.0    406752.0            16.6705       1.0115
South America       13562371.0   1285216.0            26.4933       1.0099
South America         379918.0    163820.0             3.7727       1.0082
South America        2790265.0    181034.0            18.9069       0.9990
South America       11355475.0         NaN            30.8820       1.0036

               World Population Percentage
Continent
Africa                                0.56
Africa                                0.45
Africa                                0.17
Africa                                0.03
Africa                                0.28
...                                    ...
South America                         0.09
South America                         0.43
South America                         0.01
South America                         0.04
South America                         0.35

[234 rows x 16 columns]