In [17]:
import pandas as pd
customer_call_df = pd.read_excel('../data/Customer Call List.xlsx')

In [18]:
import numpy as np

In [19]:
# displaying the dataframe
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123/643/9775
2         1003     Walter       /White    7066950392
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876|678|3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger           NaN
7         1008   Sherlock       Holmes  876|678|3469
8         1009    Gandalf          NaN           N/a
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee           NaN
11        1012      Harry    ...Potter    7066950392
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876|678|3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123/643/9775
17        1018      Clark         Kent    7066950392
18        1019      Creed       Braton           N/a
19        1020     Anakin    Skywalker  876|678|3469
20        1020     Anakin    Skywalker  876|678|3469

                                  Address Paying Customer Do_Not_Contact  \
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway               N            NaN
3   980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4                        123 Dragons Road               Y             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive               N             No
8                        123 Middle Earth             Yes            NaN
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue               Y            NaN
12                       2039 Main Street             Yes              N
13                       343 City Parkway             Yes             No
14                          214 HR Avenue               N             No
15                   2395 Hogwarts Avenue              No              N
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane               Y            NaN
18                                    N/a             N/a            Yes
19            910 Tatooine Road, Tatooine             Yes              N
20            910 Tatooine Road, Tatooine             Yes              N

    Not_Useful_Column
0                True
1               False
2                True
3                True
4                True
5                True
6               False
7               False
8               False
9                True
10               True
11               True
12              False
13              False
14              False
15              False
16              False
17               True
18               True
19               True
20               True

In [20]:
# first dropping the unnecessary column
customer_call_df.drop(columns='Not_Useful_Column',inplace=True)
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123/643/9775
2         1003     Walter       /White    7066950392
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876|678|3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger           NaN
7         1008   Sherlock       Holmes  876|678|3469
8         1009    Gandalf          NaN           N/a
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee           NaN
11        1012      Harry    ...Potter    7066950392
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876|678|3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123/643/9775
17        1018      Clark         Kent    7066950392
18        1019      Creed       Braton           N/a
19        1020     Anakin    Skywalker  876|678|3469
20        1020     Anakin    Skywalker  876|678|3469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway               N            NaN
3   980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4                        123 Dragons Road               Y             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive               N             No
8                        123 Middle Earth             Yes            NaN
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue               Y            NaN
12                       2039 Main Street             Yes              N
13                       343 City Parkway             Yes             No
14                          214 HR Avenue               N             No
15                   2395 Hogwarts Avenue              No              N
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane               Y            NaN
18                                    N/a             N/a            Yes
19            910 Tatooine Road, Tatooine             Yes              N
20            910 Tatooine Road, Tatooine             Yes              N

In [21]:
# starting to fill missing values
# gonna use mean values for average and acceptable data
# customer_call_df.fillna("Temporary Value")

# another approach was to convert all missing data such as N/a or Not found to NaN for easy handling with numpy
customer_call_df = customer_call_df.replace({'N/a':np.nan})
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123/643/9775
2         1003     Walter       /White    7066950392
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876|678|3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger           NaN
7         1008   Sherlock       Holmes  876|678|3469
8         1009    Gandalf          NaN           NaN
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee           NaN
11        1012      Harry    ...Potter    7066950392
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876|678|3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123/643/9775
17        1018      Clark         Kent    7066950392
18        1019      Creed       Braton           NaN
19        1020     Anakin    Skywalker  876|678|3469
20        1020     Anakin    Skywalker  876|678|3469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway               N            NaN
3   980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4                        123 Dragons Road               Y             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive               N             No
8                        123 Middle Earth             Yes            NaN
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue               Y            NaN
12                       2039 Main Street             Yes              N
13                       343 City Parkway             Yes             No
14                          214 HR Avenue               N             No
15                   2395 Hogwarts Avenue              No              N
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane               Y            NaN
18                                    NaN             NaN            Yes
19            910 Tatooine Road, Tatooine             Yes              N
20            910 Tatooine Road, Tatooine             Yes              N

In [22]:
# gonna see the status of data now 
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123/643/9775
2         1003     Walter       /White    7066950392
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876|678|3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger           NaN
7         1008   Sherlock       Holmes  876|678|3469
8         1009    Gandalf          NaN           NaN
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee           NaN
11        1012      Harry    ...Potter    7066950392
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876|678|3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123/643/9775
17        1018      Clark         Kent    7066950392
18        1019      Creed       Braton           NaN
19        1020     Anakin    Skywalker  876|678|3469
20        1020     Anakin    Skywalker  876|678|3469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway               N            NaN
3   980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4                        123 Dragons Road               Y             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive               N             No
8                        123 Middle Earth             Yes            NaN
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue               Y            NaN
12                       2039 Main Street             Yes              N
13                       343 City Parkway             Yes             No
14                          214 HR Avenue               N             No
15                   2395 Hogwarts Avenue              No              N
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane               Y            NaN
18                                    NaN             NaN            Yes
19            910 Tatooine Road, Tatooine             Yes              N
20            910 Tatooine Road, Tatooine             Yes              N

In [23]:
# since the N/a have become a NaN in numpy we can replace those by "Unknown"
customer_call_df['Phone_Number'].fillna("Unknown", inplace=True)
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123/643/9775
2         1003     Walter       /White    7066950392
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876|678|3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger       Unknown
7         1008   Sherlock       Holmes  876|678|3469
8         1009    Gandalf          NaN       Unknown
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee       Unknown
11        1012      Harry    ...Potter    7066950392
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876|678|3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123/643/9775
17        1018      Clark         Kent    7066950392
18        1019      Creed       Braton       Unknown
19        1020     Anakin    Skywalker  876|678|3469
20        1020     Anakin    Skywalker  876|678|3469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway               N            NaN
3   980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4                        123 Dragons Road               Y             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive               N             No
8                        123 Middle Earth             Yes            NaN
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue               Y            NaN
12                       2039 Main Street             Yes              N
13                       343 City Parkway             Yes             No
14                          214 HR Avenue               N             No
15                   2395 Hogwarts Avenue              No              N
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane               Y            NaN
18                                    NaN             NaN            Yes
19            910 Tatooine Road, Tatooine             Yes              N
20            910 Tatooine Road, Tatooine             Yes              N

C:\Users\dodee\AppData\Local\Temp\ipykernel_6204\1985046409.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customer_call_df['Phone_Number'].fillna("Unknown", inplace=True)

In [24]:
# putting unknown in lastname as well
# customer_call_df['Last_Name'].fillna("Unknown",inplace=True)
customer_call_df['Last_Name'] = customer_call_df['Last_Name'].fillna("Unknown")
# same for address, paying customer and dnc
customer_call_df['Address'] = customer_call_df['Address'].fillna("Unknown")
customer_call_df['Paying Customer'] = customer_call_df['Paying Customer'].fillna("Unknown")
customer_call_df['Do_Not_Contact'] = customer_call_df['Do_Not_Contact'].fillna("Unknown")
customer_call_df['Phone_Number'] = customer_call_df['Phone_Number'].fillna("Unknown")
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123/643/9775
2         1003     Walter       /White    7066950392
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876|678|3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger       Unknown
7         1008   Sherlock       Holmes  876|678|3469
8         1009    Gandalf      Unknown       Unknown
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee       Unknown
11        1012      Harry    ...Potter    7066950392
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876|678|3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123/643/9775
17        1018      Clark         Kent    7066950392
18        1019      Creed       Braton       Unknown
19        1020     Anakin    Skywalker  876|678|3469
20        1020     Anakin    Skywalker  876|678|3469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway               N        Unknown
3   980 Paper Avenue, Pennsylvania, 18503             Yes              Y
4                        123 Dragons Road               Y             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive               N             No
8                        123 Middle Earth             Yes        Unknown
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue               Y        Unknown
12                       2039 Main Street             Yes              N
13                       343 City Parkway             Yes             No
14                          214 HR Avenue               N             No
15                   2395 Hogwarts Avenue              No              N
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane               Y        Unknown
18                                Unknown         Unknown            Yes
19            910 Tatooine Road, Tatooine             Yes              N
20            910 Tatooine Road, Tatooine             Yes              N

In [25]:
# now to fix the inconsistency that is in paying custome and do_not_contact
customer_call_df[['Paying Customer','Do_Not_Contact']] = customer_call_df[['Paying Customer','Do_Not_Contact']].replace({'Y':'Yes', 'N':'No'})
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123/643/9775
2         1003     Walter       /White    7066950392
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876|678|3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger       Unknown
7         1008   Sherlock       Holmes  876|678|3469
8         1009    Gandalf      Unknown       Unknown
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee       Unknown
11        1012      Harry    ...Potter    7066950392
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876|678|3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123/643/9775
17        1018      Clark         Kent    7066950392
18        1019      Creed       Braton       Unknown
19        1020     Anakin    Skywalker  876|678|3469
20        1020     Anakin    Skywalker  876|678|3469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway              No        Unknown
3   980 Paper Avenue, Pennsylvania, 18503             Yes            Yes
4                        123 Dragons Road             Yes             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive              No             No
8                        123 Middle Earth             Yes        Unknown
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue             Yes        Unknown
12                       2039 Main Street             Yes             No
13                       343 City Parkway             Yes             No
14                          214 HR Avenue              No             No
15                   2395 Hogwarts Avenue              No             No
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane             Yes        Unknown
18                                Unknown         Unknown            Yes
19            910 Tatooine Road, Tatooine             Yes             No
20            910 Tatooine Road, Tatooine             Yes             No

In [26]:
# fixing the values
customer_call_df['Last_Name'] = customer_call_df['Last_Name'].str.replace(r'[./]','',regex=True)

customer_call_df['Phone_Number'] = customer_call_df['Phone_Number'].str.replace(r'[-|/]','',regex=True)

print(customer_call_df)

    CustomerID First_Name    Last_Name Phone_Number  \
0         1001      Frodo      Baggins   1235455421
1         1002       Abed        Nadir   1236439775
2         1003     Walter        White          NaN
3         1004     Dwight      Schrute   1235432345
4         1005        Jon         Snow   8766783469
5         1006        Ron      Swanson   3047622467
6         1007       Jeff       Winger      Unknown
7         1008   Sherlock       Holmes   8766783469
8         1009    Gandalf      Unknown      Unknown
9         1010      Peter       Parker   1235455421
10        1011    Samwise       Gamgee      Unknown
11        1012      Harry       Potter          NaN
12        1013        Don       Draper   1235432345
13        1014     Leslie        Knope   8766783469
14        1015       Toby  Flenderson_   3047622467
15        1016        Ron      Weasley   1235455421
16        1017   Michael         Scott   1236439775
17        1018      Clark         Kent          NaN
18        1019      Creed       Braton      Unknown
19        1020     Anakin    Skywalker   8766783469
20        1020     Anakin    Skywalker   8766783469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway              No        Unknown
3   980 Paper Avenue, Pennsylvania, 18503             Yes            Yes
4                        123 Dragons Road             Yes             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive              No             No
8                        123 Middle Earth             Yes        Unknown
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue             Yes        Unknown
12                       2039 Main Street             Yes             No
13                       343 City Parkway             Yes             No
14                          214 HR Avenue              No             No
15                   2395 Hogwarts Avenue              No             No
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane             Yes        Unknown
18                                Unknown         Unknown            Yes
19            910 Tatooine Road, Tatooine             Yes             No
20            910 Tatooine Road, Tatooine             Yes             No

In [27]:
# separating phone with -
# customer_call_df['Phone_Number'] = customer_call_df['Phone_Number'].str.extract(r'(\d{3}-\d{3}-\d{4})')
customer_call_df = customer_call_df.replace('Unknown',np.nan)

# making the data frame consistent
# customer_call_df['Phone_Number'] = customer_call_df['Phone_Number'].str.replace(r'[|/]','-',regex=True)
import re

# finally now we can put - 
customer_call_df['Phone_Number'] = customer_call_df['Phone_Number'].apply(lambda x: f"{x[:3]}-{x[3:6]}-{x[6:]}" if pd.notna(x) and re.fullmatch(r'\d{10}', x) else x)
# customer_call_df['Phone_Number'] = customer_call_df['Phone_Number'].str.extract(r'(\d{3}[-.\s]?\d{3}[-.\s]?\d{4})')



print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
1         1002       Abed        Nadir  123-643-9775
2         1003     Walter        White           NaN
3         1004     Dwight      Schrute  123-543-2345
4         1005        Jon         Snow  876-678-3469
5         1006        Ron      Swanson  304-762-2467
6         1007       Jeff       Winger           NaN
7         1008   Sherlock       Holmes  876-678-3469
8         1009    Gandalf          NaN           NaN
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee           NaN
11        1012      Harry       Potter           NaN
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876-678-3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123-643-9775
17        1018      Clark         Kent           NaN
18        1019      Creed       Braton           NaN
19        1020     Anakin    Skywalker  876-678-3469
20        1020     Anakin    Skywalker  876-678-3469

                                  Address Paying Customer Do_Not_Contact
0                   123 Shire Lane, Shire             Yes             No
1                     93 West Main Street              No            Yes
2                      298 Drugs Driveway              No            NaN
3   980 Paper Avenue, Pennsylvania, 18503             Yes            Yes
4                        123 Dragons Road             Yes             No
5                        768 City Parkway             Yes            Yes
6                       1209 South Street              No             No
7                           98 Clue Drive              No             No
8                        123 Middle Earth             Yes            NaN
9              25th Main Street, New York             Yes             No
10                  612 Shire Lane, Shire             Yes             No
11                   2394 Hogwarts Avenue             Yes            NaN
12                       2039 Main Street             Yes             No
13                       343 City Parkway             Yes             No
14                          214 HR Avenue              No             No
15                   2395 Hogwarts Avenue              No             No
16         121 Paper Avenue, Pennsylvania             Yes             No
17                        3498 Super Lane             Yes            NaN
18                                    NaN             NaN            Yes
19            910 Tatooine Road, Tatooine             Yes             No
20            910 Tatooine Road, Tatooine             Yes             No

In [28]:
# dropping rows with do_not_contact as yes
customer_call_df = customer_call_df[customer_call_df['Do_Not_Contact'] != 'Yes']
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
2         1003     Walter        White           NaN
4         1005        Jon         Snow  876-678-3469
6         1007       Jeff       Winger           NaN
7         1008   Sherlock       Holmes  876-678-3469
8         1009    Gandalf          NaN           NaN
9         1010      Peter       Parker  123-545-5421
10        1011    Samwise       Gamgee           NaN
11        1012      Harry       Potter           NaN
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876-678-3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123-643-9775
17        1018      Clark         Kent           NaN
19        1020     Anakin    Skywalker  876-678-3469
20        1020     Anakin    Skywalker  876-678-3469

                           Address Paying Customer Do_Not_Contact
0            123 Shire Lane, Shire             Yes             No
2               298 Drugs Driveway              No            NaN
4                 123 Dragons Road             Yes             No
6                1209 South Street              No             No
7                    98 Clue Drive              No             No
8                 123 Middle Earth             Yes            NaN
9       25th Main Street, New York             Yes             No
10           612 Shire Lane, Shire             Yes             No
11            2394 Hogwarts Avenue             Yes            NaN
12                2039 Main Street             Yes             No
13                343 City Parkway             Yes             No
14                   214 HR Avenue              No             No
15            2395 Hogwarts Avenue              No             No
16  121 Paper Avenue, Pennsylvania             Yes             No
17                 3498 Super Lane             Yes            NaN
19     910 Tatooine Road, Tatooine             Yes             No
20     910 Tatooine Road, Tatooine             Yes             No

In [29]:
customer_call_df = customer_call_df.dropna()
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
4         1005        Jon         Snow  876-678-3469
7         1008   Sherlock       Holmes  876-678-3469
9         1010      Peter       Parker  123-545-5421
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876-678-3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123-643-9775
19        1020     Anakin    Skywalker  876-678-3469
20        1020     Anakin    Skywalker  876-678-3469

                           Address Paying Customer Do_Not_Contact
0            123 Shire Lane, Shire             Yes             No
4                 123 Dragons Road             Yes             No
7                    98 Clue Drive              No             No
9       25th Main Street, New York             Yes             No
12                2039 Main Street             Yes             No
13                343 City Parkway             Yes             No
14                   214 HR Avenue              No             No
15            2395 Hogwarts Avenue              No             No
16  121 Paper Avenue, Pennsylvania             Yes             No
19     910 Tatooine Road, Tatooine             Yes             No
20     910 Tatooine Road, Tatooine             Yes             No

In [33]:
# fixing column name
customer_call_df = customer_call_df.rename(columns={"Paying Customer": "Paying_Customer"})

# removing duplicates
customer_call_df = customer_call_df.drop_duplicates()
print(customer_call_df)

    CustomerID First_Name    Last_Name  Phone_Number  \
0         1001      Frodo      Baggins  123-545-5421
4         1005        Jon         Snow  876-678-3469
7         1008   Sherlock       Holmes  876-678-3469
9         1010      Peter       Parker  123-545-5421
12        1013        Don       Draper  123-543-2345
13        1014     Leslie        Knope  876-678-3469
14        1015       Toby  Flenderson_  304-762-2467
15        1016        Ron      Weasley  123-545-5421
16        1017   Michael         Scott  123-643-9775
19        1020     Anakin    Skywalker  876-678-3469

                           Address Paying_Customer Do_Not_Contact
0            123 Shire Lane, Shire             Yes             No
4                 123 Dragons Road             Yes             No
7                    98 Clue Drive              No             No
9       25th Main Street, New York             Yes             No
12                2039 Main Street             Yes             No
13                343 City Parkway             Yes             No
14                   214 HR Avenue              No             No
15            2395 Hogwarts Avenue              No             No
16  121 Paper Avenue, Pennsylvania             Yes             No
19     910 Tatooine Road, Tatooine             Yes             No

In [34]:
# now to finally export the cleaned data
customer_call_df.to_excel('../data/cleaned_customer_call.xlsx',index=False)